FINNHUB_API_KEY=your_key_here_placeholder

# Use localhost:9092 for local venv testing
# Docker Compose will use the service name 'kafka:9092' via the yaml file
KAFKA_URL=localhost:9092

TICKER_LIST=your_list_of_tickers